body {
	margin: 0;
}

#app {
	font-family: Lato, Arial, sans-serif;
	font-size: 14px;
}

.form-container {
	display: flex;
	justify-content: center;
}

form {
	border: 3px solid #f1f1f1;
	border-radius: 10px;
	margin: 100px 0;
	max-width: 400px;
}
