@import "tailwindcss";

body {
	margin: 0;
}

#app {
	font-family: Lato, Arial, sans-serif;
	font-size: 14px;
	height: 100vh;
	overflow: hidden;
}

/* Remove those stupid default styles for button */
button {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

i {
	display: flex;
	justify-content: center;
}
